
@mixin button-colored($color) {

    color: hsla(0,0%,100%,.95);
    background: $color;

    &:hover {
        background: lighten($color, 5%);
    }

    &:active {
        background: lighten($color, 10%);
    }
}

.button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    padding: 8px 24px;
    border-radius: 1.5rem;
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: .04rem;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    text-align: center;

   @include button-colored($blurple);
}

.button--store {
    display: block;
    margin-top: 12px;
}

