@import "variables.scss";

.pmd_settings {
  max-height: 350px;
  overflow: overlay;
  overflow-x: hidden;

  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  color: white;

  .settings__container {
    background: $darkButNotQuiteBlack;
    padding: 16px;
    width: 100%;
    border-radius: 5px;
    margin: 0.75em 1.25em;

    &:last-child {
      margin-bottom: 0.9em;
    }

    .container__setting {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      margin: 2px 0;

      img {
        border-radius: 4px;
      }

      .setting__title {
        flex-grow: 1;
        font-weight: 500;
        display: flex;
        align-items: center;
        font-size: 1rem;

        p {
          display: inline-block;
        }

        &--presence {
          p {
            margin-left: 8px;
            max-width: 200px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
          }
        }

        .tmp {
          background: #ff5050;
          padding: 0 3px;
          border-radius: 5px;
          font-size: 0.75rem;
          text-transform: uppercase;
          position: relative;
        }
      }

      .removePresence {
        position: relative;
        display: block;
        width: 19px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 1rem;
        cursor: pointer;

        i {
          color: #ff5252;
        }
      }
    }

    .title-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 0.7rem;
      width: 100%;

      * {
        display: inline-block;
      }

      a {
        font-size: 0.74rem;
        vertical-align: top;
      }
      .container__title {
        margin-right: auto;
        margin-bottom: 0rem;
      }
    }

    h2.container__title {
      color: $blurple;

      font-size: 1.25rem;
      font-weight: 700;
      margin: 0;
      margin-bottom: 0.7rem;
    }

    .manage-btn {
      cursor: pointer;

      span,
      a,
      p {
        font-weight: bold;
        color: $greyple;
        font-size: 1em;
        transition: all 0.1s ease;
        &:hover {
          color: lighten($blurple, 15%);
        }
      }

      i {
        font-size: 1.1rem;
      }
    }

    > p {
      font-size: 14px;
      font-weight: 500;
      margin: 4px 0;
    }
  }

  .noPresences {
    margin: 5px 0;
    color: $greyple;
    text-align: center;
    font-size: 0.9rem;
  }
}

.pmd_checkbox {
  span {
    transition: all 0.15s ease-out;
  }

  cursor: pointer;
  transition: all 0.15s ease;

  input[type="checkbox"] {
    opacity: 1;
    width: 0;
    height: 0;
  }

  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  input[type="checkbox"]:checked + .checkbox-container {
    background-color: $blurple;

    &:after {
      left: 19px;
    }

    &:active {
      &:after {
        width: 21px;
        left: 14px;
      }
    }
  }

  .checkbox-container:active {
    &:after {
      width: 21px;
    }
  }

  .checkbox-container {
    display: inline-block;
    position: relative;
    width: 38px;
    height: 22px;
    background-color: #72767d;
    border-radius: 15px;

    overflow: hidden;

    cursor: pointer;
    margin: 4px 0;

    &:after {
      content: "";
      background-color: #fff;
      position: absolute;
      display: inline-block;
      width: 16px;
      height: 16px;
      left: 3px;
      top: 3px;
      border-radius: 14px;
      transition: all 0.15s ease;
    }
  }
}

.message-container {
  padding: 16px;
  width: 100%;
  border-radius: 5px;
  margin: 0.75em 1.25em;
  font-size: 1em;

  &__title {
    margin: 4px 0;
  }

  &__details {
    margin: 4px 0;
    font-weight: 500;
  }

  &--error {
    background: orange;

    a {
      color: $darkButNotQuiteBlack;
      font-weight: bold;
    }
  }

  &--outdated {
    background-color: #ff5050;
  }
}

.presence-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.7rem;

  &__label {
    color: lighten($darkButNotQuiteBlack, 40%);
    border-radius: 50em;
    margin: 3px;
    font-size: 1em;
    font-weight: 500;
    padding: 4px 10px;
    background: lighten($darkButNotQuiteBlack, 8%);

    &--active {
      color: white;
      background: $blurple;
    }
  }
}
