@import 'variables.scss';

.pmd_settings {
	max-height: 340px;
	overflow: auto;

	display: flex;
	position: relative;

	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	.settings__container {
		background: $darkButNotQuiteBlack;
		padding: 16px;
		width: 100%;
		border-radius: 5px;
		margin: .9em .9em 0;

		&:last-child {
			margin-bottom: .9em;
		}

		* {
			margin: 0;
			padding: 0;

			color: white;
		}

		.presenceStore {
			transition: .15s all ease-out;

			position: relative;
			display: inline-block;
			margin-top: 10px;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			background-color: #7289da;
			border-radius: 10px;
			padding: 3px 5px;
			font-size: 1rem;
			font-weight: 500;
			width: 80%;

			&:hover {
				background-color: lighten($blurple, 5%);
			}
		}

		.container__setting {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 30px;

			.setting__title {
				font-weight: 500;
				height: 30px;
				line-height: 30px;
				font-size: 1rem;

				p {
					display: inline-block;
				}

				.tmp {
					background: #ff5050;
					padding: 0 3px;
					border-radius: 5px;
					font-size: 0.75rem;
					text-transform: uppercase;
					position: relative;
				}
			}

			.removePresence {
				position: relative;
				display: block;
				width: 19px;
				height: 30px;
				line-height: 30px;
				font-size: 1rem;
				cursor: pointer;

				i {
					color: #ff5252;
				}
			}
		}

		.titleWrapper {
			width: 100%;
			height: 25px;

			* {
				display: inline-block
			}

			a {
				font-size: 0.74rem;
				vertical-align: top;
			}
		}

				h2.container__title {
					color: $blurple;

					font-size: 18px;
					font-weight: 700;
					margin-bottom: 0.3em;
				}

				a.manage {
					position: absolute;
					right: 25px;
					font-size: 0.75rem;
					cursor: pointer;

					p {
						color: $greyple;
					}
				}


		> p {
			font-size: 14px;
			font-weight: 500;
			margin: 4px 0;
		}
	}

	.noPresences {
		margin: 5px 0;
		color: $greyple;
		text-align: center;
		font-size: 0.9rem;
	}
}

.pmd_checkbox {
	span {
		transition: all .15s ease-out;
	}

	cursor: pointer;
	transition: all .15s ease;

	input[type=checkbox] {
		opacity: 1;
		width: 0;
		height: 0;
	}

	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	input[type="checkbox"]:checked + .checkbox-container {
		background-color: $blurple;
		&:after {
			left: 21px;
		}
		&:active {
			&:after {
				width: 26px;
				left: 13px;
			}
		}
	}

	.checkbox-container:active {
		&:after {
			width: 26px;
		}
	}

	.checkbox-container {
		display: inline-block;
		position: relative;
		width: 42px;
		height: 24px;
		background-color: #72767d;
		border-radius: 14px;

		overflow: hidden;

		cursor: pointer;

		margin: 4px 0;
		&:after {
			content: "";
			position: absolute;
			display: inline-block;
			background: white;
			width: 18px;
			height: 18px;
			left: 3px;
			top: 3px;
			border-radius: 14px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, .3);

			transition: all .15s ease;
		}
	}
}