@import 'reset';

#settingsView {
	color: #fff;

	.container {
		width: 90%;
		margin: 5%;
		background-color: $notQuiteBlack;
		border-radius: 5px;
		padding: 10px;

		h3 {
			color: $blurple;
			padding: 0;
			margin: 0;
			margin-bottom: 5px;
			font-size: 25px;
			font-weight: 700;
		}

		.flex {
			height: 35px;

			h6 {
				display: inline-block;
				margin: 0;
				padding: 0;

				p {
					position: relative;
					top: -1px;
					font-size: 11px;
					font-weight: 700;
					text-transform: uppercase;
					display: inline-block;
					background-color: #ff2525;
					border-radius: 5px;
					padding: 2px 2px;
				}
			}

			.v-input {
				margin: 0;
				margin-top: -2px;

				.v-input--switch .v-input--selection-controls__input {
					margin-right: 0;
				}
			}
		}
	}
}
