@font-face {
	font-family: "Discord Font";
	font-weight: 900;
	src: url("../../../assets/fonts/DiscordFontBlack.woff2") format("woff2");
	font-style: normal;
}
@font-face {
	font-family: Inter;
	src: url("../../../assets/fonts/Inter/Inter-Regular.woff2") format("woff2");
}
@font-face {
	font-family: Inter;
	font-weight: 500;
	src: url("../../../assets/fonts/Inter/Inter-Medium.woff2") format("woff2");
}
@font-face {
	font-family: Inter;
	font-weight: 700;
	src: url("../../../assets/fonts/Inter/Inter-Bold.woff2") format("woff2");
}
* {
	scrollbar-color: #7289da transparent;
	scrollbar-width: thin;
}
::-webkit-scrollbar {
	width: 12px;
	height: 0.6rem;
}
::-webkit-scrollbar-track {
	border: none;
}
::-webkit-scrollbar-thumb {
	transition: background 0.15s ease-out;
	border: 3px solid #23272a;
	border-radius: 20px;
	background: #7289da;
}
::-webkit-scrollbar-thumb:hover {
	background: #869adf;
}
::-webkit-scrollbar-corner {
	background: transparent;
}
html,
body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	width: 300px;
	height: 400px;
	background-color: #2c2f33;
	font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
	text-decoration: none;
}
#mainWrapper {
	width: 100vw;
	height: 100vh;
}
#mainWrapper #mainContent {
	position: relative;
	text-align: center;
	margin: auto;
	top: 50vh;
	transform: translateY(-25vh);
}
#mainWrapper #mainContent img {
	width: 175px;
}
#mainWrapper #mainContent h1 {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 900;
}
#mainWrapper #mainContent h1,
#mainWrapper #mainContent h2 {
	margin: 0;
	margin-top: -5px;
	top: -25px;
	padding: 0;
	color: white;
}
#mainWrapper #mainContent h1 .pmd,
#mainWrapper #mainContent h2 .pmd {
	font-family: "Discord Font";
	margin: 0;
	display: inline-block;
	color: #7289da;
}
#mainWrapper #mainContent h2 {
	color: #99aab5;
	font-size: 22px;
}
#mainWrapper #mainContent .inline {
	margin-top: 30px;
	margin-bottom: 35px;
}
#mainWrapper #mainContent .button {
	transition: 0.25s box-shadow ease-out, 0.25s background ease-out;
	display: inline-block;
	font-size: 22px;
	border-radius: 90px;
	min-width: 200px;
	height: 40px;
	line-height: 40px;
	color: white;
	padding: 0 10px;
	margin: 0 5px;
}
#mainWrapper #mainContent .button:hover {
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}
#mainWrapper #mainContent .button i {
	margin-right: 5px;
}
#mainWrapper #mainContent .donate {
	background-color: #f96854;
	font-weight: 700;
}
#mainWrapper #mainContent .donate:hover {
	background-color: #fa7e6d;
}
#mainWrapper #mainContent .donate i {
	margin-right: 0;
}
#mainWrapper #mainContent .discord {
	font-family: "Discord Font";
	text-transform: uppercase;
	line-height: 47px;
	background-color: #7289da;
}
#mainWrapper #mainContent .discord:hover {
	background-color: #869adf;
}
#mainWrapper #mainContent .start {
	background-color: #7289da;
	min-width: 250px;
}
#mainWrapper #mainContent .start:hover {
	background-color: #869adf;
}
#mainWrapper #mainContent .start p {
	display: inline-block;
	font-family: "Discord Font";
	text-transform: uppercase;
	margin: 0;
}
#mainWrapper .err {
	margin-bottom: 0 !important;
}
#mainWrapper #error {
	margin-top: -40px;
	display: inline-block;
	width: 300px;
	text-align: center;
	font-size: 17px;
}
#mainWrapper #error p {
	color: white;
}
#mainWrapper #error a {
	color: #7289da;
	font-weight: 600;
	display: block;
	margin-bottom: 5px;
}
.fade-enter-active {
	transition: all 0.5s ease-out;
}
.fade-enter,
.fade-leave-active {
	transform: scale(0.5);
	opacity: 0;
}
.hidden {
	display: none;
}
#header {
	color: white;
}
#header #left {
	position: absolute;
	left: 15px;
	top: 15px;
}
#header #left h1,
#header #left h2 {
	font-family: "Discord Font";
	margin: 0;
	padding: 0;
}
#header #left h1 {
	font-size: 30px;
}
#header #left h2 {
	font-size: 20px;
}
#header #left #version {
	color: #99aab5;
}
#header #right {
	position: absolute;
	right: 15px;
	top: 15px;
	text-align: right;
}
#header #right a {
	transition: 0.15s color ease-out;
	color: white;
	font-size: 17px;
	display: block;
	margin-bottom: 3px;
}
#header #right a:hover {
	color: #7289da;
}
html {
	overflow-x: hidden;
}
#updates {
	display: grid;
	margin-bottom: 15px;
	justify-content: center;
	align-items: center;
	text-align: left;
}
#changeItem {
	margin: 2px;
}
#changeItem p {
	margin: 0;
	padding: 0;
	display: inline-block;
	color: white;
	font-size: 17px;
}
#changeItem #badge {
	display: inline-grid;
	align-items: center;
	height: 25px;
	min-width: 75px;
	padding: 0 5px;
	border-radius: 50px;
	text-align: center;
}
#changeItem #badge p {
	font-weight: 600;
	font-size: 15px;
}
#changeItem #badge.new {
	background-color: #12bd60;
}
#changeItem #badge.fix {
	background-color: #ff5050;
}
#changeItem #badge.change {
	background-color: #7289da;
}
#changeItem #text {
	margin-left: 3px;
}
#changeItem #text a {
	position: relative;
	color: #7289da;
}
#changeItem #text a:after {
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	content: "";
	position: absolute;
	height: 2px;
	width: 0%;
	left: 50%;
	bottom: -1px;
	background-color: #7289da;
}
#changeItem #text a:hover:after {
	width: 100%;
	left: 0;
}
