@import "variables.scss";

@font-face {
  font-family: 'Discord Font';
  font-weight: 900;
  src: url("../../../assets/fonts/discord.otf")
}

@font-face {
  font-family: Inter;
  src: url("../../../assets/fonts/Inter/Inter-Regular.otf")
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url("../../../assets/fonts/Inter/Inter-Medium.otf")
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url("../../../assets/fonts/Inter/Inter-Bold.otf")
}

* {
  scrollbar-color: #7289DA transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 12px;
    height: 0.6rem;
}

::-webkit-scrollbar-track {
    border: none;
}

::-webkit-scrollbar-thumb {
    transition: background 0.15s ease-out;

    border: 3px solid $notQuiteBlack;
    border-radius: 20px;
    background: $blurple;

    &:hover {
        background: lighten($color: $blurple, $amount: 5)
    }
}

::-webkit-scrollbar-corner {
    background: transparent;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  margin: 0;
  padding: 0;
  width: 300px;
  height: 400px;
  background-color: $darkButNotQuiteBlack;

  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
}

#mainWrapper {
  width: 100vw;
  height: 100vh;

  #mainContent {
    position: relative;
    text-align: center;
    margin: auto;
    top: 50vh;
    transform: translateY(-25vh);

    img {
      width: 175px;
    }

    h1 {
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 900;
    }

    h1,
    h2 {
      margin: 0;
      margin-top: -5px;
      top: -25px;
      padding: 0;
      color: white;

      .pmd {
        font-family: 'Discord Font';
        margin: 0;
        display: inline-block;
        color: $blurple;
      }
    }

    h2 {
      color: $greyple;
      font-size: 22px;
    }

    .inline {
      margin-top: 30px;
      margin-bottom: 35px;
    }

    .button {
      transition: 0.25s box-shadow ease-out, 0.25s background ease-out;
      display: inline-block;
      font-size: 22px;
      border-radius: 90px;
      min-width: 200px;
      height: 40px;
      line-height: 40px;
      color: white;
      padding: 0 10px;
      margin: 0 5px;

      &:hover {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
      }

      i {
        margin-right: 5px;
      }
    }

    .donate {
      background-color: #f96854;
      font-weight: 700;

      &:hover {
        background-color: lighten(#f96854, 5%);
      }

      i {
        margin-right: 0;
      }
    }

    .discord {
      font-family: "Discord Font";
      text-transform: uppercase;
      line-height: 47px;
      background-color: $blurple;

      &:hover {
        background-color: lighten($blurple, 5%);
      }
    }

    .start {
      background-color: $blurple;
      min-width: 250px;

      &:hover {
        background-color: lighten($blurple, 5%);
      }

      p {
        display: inline-block;
        font-family: "Discord Font";
        text-transform: uppercase;
        margin: 0;
      }
    }
  }

  .err {
    margin-bottom: 0 !important;
  }

  #error {
    margin-top: -40px;
    display: inline-block;
    width: 300px;
    text-align: center;
    font-size: 17px;

    p {
      color: white;
    }

    a {
      color: $blurple;
      font-weight: 600;
      display: block;
      margin-bottom: 5px;
    }
  }
}

.fade-enter-active {
  transition: all 0.5s ease-out;
}

.fade-enter,
.fade-leave-active {
  transform: scale(0.5);
  opacity: 0;
}

.hidden {
  display: none;
}
