$blurple: #7289da;
$darkButNotQuiteBlack: #2c2f33;
$notQuiteBlack: #23272a;
$greyple: #99aab5;

html,
body {
	margin: 0;
	padding: 0;
	width: 250px;
	height: 400px;
	background-color: $darkButNotQuiteBlack;
}
